<div class="container">
    <app-accordion [items]="items"></app-accordion>
    <app-partners-logo [logos]="logos"></app-partners-logo>
    <p class="block-title">Nos derni&egrave;res publications</p>
    <section>
        <aside>
            <app-article-block [articleData]="articleData"></app-article-block>
        </aside>
        <article>
            <app-article-card></app-article-card>    
        </article>
        <article>
            <app-article-card></app-article-card>    
        </article>
    </section>
</div>
